.App {
  text-align: center;
  font-family: "Fuzzy Bubbles", "sans-serif";
  background-color: #CEEDFA;
  background-image: url("dailyCatPicsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 30px;
  text-align: left;
}

h3 {
  margin: 0px;
  width: 55%;
}

h5 {
  margin: 0px;
}

img {
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.clearfoot {
  padding: 10px;
  margin: 0px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Fuzzy Bubbles", "sans-serif";
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  font-family: "Fuzzy Bubbles", "sans-serif";
  border-radius: 5px;
  width: 15%;
  height: 20px;
}

.requiredEmail {
  font-family: "Fuzzy Bubbles", "sans-serif";
  align-items: center;
  border-radius: 5px;
  width: 20%;
  height: 20px;
}

.frameBorder {
 border: 59px solid transparent;
 border-image: url("picFrame.png") 47 stretch;
 align-items: center;
}
